.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    background-color: var(--bg-secondary);
    border-right: 1px solid var(--border-color);
    padding: 20px;
}

.logo-section {
    margin-bottom: 40px;
}

.logo-section h2 {
    color: white;
}

.menu-items {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 14px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--text-secondary);
    transition: var(--transition-speed);
}

.menu-item:hover {
    background-color: #334155;
    color: white;
}

.active-menu {
    background-color: #2563eb;
    color: white;
}